html,
body
  scrollbar-color: var(--cor-escuro-5) var(--cor-preto)
  scrollbar-width: thin

::-webkit-scrollbar
  width: 4px
  height: 4px

::-webkit-scrollbar-track
  background: var(--cor-preto)

::-webkit-scrollbar-thumb
  background: var(--cor-escuro-5)
  border-radius: 10px
  transition: background 0.3s

  &:hover
    background: var(--cor-cinza)
